<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Room:</strong>
  <%= @user.room_id %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @user.attachment %>
</p>

<% @histories.each do |history| %>
  <p>
  	<strong>History:</strong>
  	<%= history.in_or_out %>
  	<%= history.created_at%>
  </p>
<% end %>

<% @histories.each do |history| %>
<% if history.in_or_out then %>
<h2>IN <%= history.created_at %> </h2>
<% else %>
<h2>OUT <%= history.created_at %></h2>
<% end %>



<% end %>
